body{
	margin: 0;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background: #031321;
}
#header{
	background:tranparent;
	margin: 0;
	padding: 20px 0 20px 0;
  position: absolute;
  top:50%;
  width: 100%;
  height: 4%;

}
h1{
	margin: 0;
	position: absolute;
	color: white;
	font-size: 52px;
	font-weight: 700;
  top:12%;
  left:5%;
  letter-spacing: 6px;
  font-family: monospace;

}

p{
  position: absolute;
  font-family: monospace;
  font-size: 16px;
  left:30%;
  top:80%;
}
.stack{
  width: 200px;
  height: 100px;
  background: none;
  border: 4px solid black;
  color:cyan;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  border-radius: 20%;
  font-family: monospace;
  letter-spacing: 4px;

}
.stack::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: cyan;
  transform: skewX(50deg);
  transition: .4s linear;
}
.stack::after{
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: cyan;
  transform: skewX(50deg);
  transition: .4s linear;
}
.stack::before{
  top:-4px;
  left:10%;
}
.stack::after{
  bottom:-4px;
  left:10%;
}
.stack:hover::before{
  left: 80%;
}

.stack:hover::after{
  left:80%;
}
.stack:hover{
  background: black;
  color: cyan;
}


.queue{
  width: 200px;
  height: 100px;
  background: none;
  border: 4px solid black;
  color:cyan;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  border-radius: 20%;
  font-family: monospace;
  letter-spacing: 4px;
  margin: 40px 1px;
}
.queue::before,.queue::after{
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: #39ff14;
  transform: skewX(50deg);
  transition: .4s linear;
}

.queue::before{
  top:-4px;
  left:10%;
}
.queue::after{
  bottom:-4px;
  left:10%;
}
.queue:hover::before{
  left: 80%;
}

.queue:hover::after{
  left:80%;
}
.queue:hover{
  background: black;
  color: #39ff14;
}




.algo{
  width: 200px;
  height: 100px;
  background: none;
  border: 4px solid black;
  color:#FF007F;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  border-radius: 20%;
  font-family: monospace;
  letter-spacing: 4px;
  margin: 40px 1px;
}
.algo::before,.algo::after{
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: #FF007F;
  transform: skewX(50deg);
  transition: .4s linear;
}

.algo::before{
  top:-4px;
  left:10%;
}
.algo::after{
  bottom:-4px;
  left:10%;
}
.algo:hover::before{
  left: 80%;
}

.algo:hover::after{
  left:80%;
}
.algo:hover{
  background: black;
  color: #FF007F;
}

h4{
	position: relative;
	top:
	left:10px;
}


.linked{
  width: 200px;
  height: 100px;
  background: none;
  border: 4px solid black;
  color:#FF4105;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  border-radius: 20%;
  font-family: monospace;
  letter-spacing: 4px;
}
.linked::before,.linked::after{
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: #FF4105;
  transform: skewX(50deg);
  transition: .4s linear;
}

.linked::before{
  top:-4px;
  left:10%;
}
.linked::after{
  bottom:-4px;
  left:10%;
}
.linked:hover::before{
  left: 80%;
}

.linked:hover::after{
  left:80%;
}
.linked:hover{
  background: black;
  color: #FF4105;
}




.buts{
  position: absolute;
  top:200px;
  left:70%;
}
.version{
	position: absolute;
	left:10px;
	top:350px;
	color: white;
	font-family: monospace;
	letter-spacing: 5px;
	font-weight: 500;
}
.author{
	position: absolute;
	left:10px;
	top:330px;
	color: white;
	font-family: monospace;
	letter-spacing: 5px;
	font-weight: 500;
}
