
  body{
	margin: 0;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	color: red;
  background: #031321;
}
.get-started .submit{
  background-color: #031321; /*#4CAF50;*/
  border: 2px solid #031321;
  border-radius: 15px;
  /*color: #4A6572;*/
  padding: 5px 20px;
  text-align: center;
  margin: 10px 30px 15px 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  transition: .6s;
  font-family: monospace;
  position: relative;
  left:15%;
text-transform: uppercase;
  letter-spacing: 4px;
	font-family: monospace;
	transition: 0.6s;
  color: cyan;
}
.get-started .submit:hover
{
  background: black;
	color: #255784;
  box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
}

input[type="text"] {
    background: #13CA91;
border: 2px solid black;
font-family:monospace;
transition: .6s;
    height: 50px;
    max-width: 260px;
    border: none;
    border-radius: 24px;
    padding: 0px 15px;
}
input[type="text"]:focus {
    border-left: 40px solid black;
    outline-offset: transparent;
    border-radius: 30px;
}
h1
{
  font-family: monospace;
}
.con{
  font-family: cursive;
  position: relative;
  left:30%;
  top:180px;
  color:red;
}
.outputs{
  position: relative;
  left: 30%;
  top: 190px;
}
.pop{
  position:relative;
  left:50%;
  top:-203px;
  font-family: cursive;
}
.pops
{
  position:relative;
  left:50%;
  top:-140px;
  }
.o1,.o2,.o3,.o4,.o5{
  background: transparent;
  border-radius: 50%;
border: none;
  font-size: 48px;
  display: block;
margin: 4px 2px;
font-family: 'Patrick Hand', cursive;
text-shadow: 2px 2px cyan;
}
.t1
{
  background: transparent;
  border-radius: none;
border: none;
  font-size: 48px;
  display: block;
margin: 4px 2px;
font-family: 'Patrick Hand', cursive;
text-shadow: 2px 2px cyan;
}
.backbut
{
  position: absolute;
  left:95%;
  border-radius: 50%;
  background:#39ff14;
  color:black;
  font-family: inherit;
  font-size: 14px;
  text-spacing:4px;
  font-weight: 400;
}
.backbut:hover{
  color: #39ff14;
  background: black;
}
